node_modules
fuente-y-build/src/lexicon.js.bak
fuente-y-build/src/lexicon.js.bak2
server/public/js/lexicon.js.bak
server/public/js/lexicon.js.bak2
server/public/js/ui.js.bak-ui
fuente-y-build/src/ui.js.bak-ui
fuente-y-build/src/lexicon.js.bak3
fuente-y-build/src/ui.js.bak3
server/public/js/lexicon.js.bak3
server/public/js/ui.js.bak3
fuente-y-build/src/lexicon.js.bak4
server/public/js/lexicon.js.bak4
server/public/img/bk.jpg
fuente-y-build/src/lexicon.js.bak5
server/public/js/lexicon.js.bak5
server/public/index00.html
server/public/data/corpus00.json
fuente-y-build/build/build-corpus.mjs.bak
